body{
    background-color: white;
}
header{
    background-color: #584f84;
  }
.container{
    background-color: white;
    border: 1px solid black;
    padding-top: 100px;
    border-radius: 20px;
    padding-bottom: 20px;
    height: 730px;
    width: 50%;
    margin: 0 auto;
}
.container2{
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.login{
    font-size: 20px;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 500px;
    text-align: center;
    margin-left: 18%;
}
.senha{
    margin-top: 20px;
    text-align: center;
    margin-left: 18%;
    font-size: 20px;
    border-radius: 5px;
    height: 30px;
    width: 500px;
}
.help{
    margin-right: 390px;
    text-align: center;
    text-transform: uppercase;
}
a{
    letter-spacing: 2px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
}