header{
  padding: 5px;  
  background-color: #584f84;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.clear{
    clear: both;
}
.w13{
    width: 70px;
    float: left;
}
.w33{
    width: 33.3%;
    float: left;
}
.logo1{
    padding-top: 5px;
    cursor: pointer;
    color: #d7c1e0;
    font-weight: lighter;
    text-transform: uppercase;
}
.logo2{
    cursor: pointer;
    color: #fffb00;
    font-weight: bolder;
}
.search{
    height: 40px;
    border-radius: 15px;
    background-color:#ffffff;
    float: left;
}
.search-txt{
    text-align: center;
    
}
nav.menu{
    position: relative;
    cursor: pointer;
    float: right;
}
.menu li{ 
    font-size: 20px;  
    width: 50px;
    padding-top: 10px;
    padding-right: 10px;
    display: inline-block;
}
.logo1:hover{
    color: white;
}
.menu a{
    color: #c8c1e0;;
}
.menu a:hover{
    color: white;
}
.search-btn{
    text-decoration: none;
    width: 40px;
    height: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 0px;
    line-height: 40px;
}
.shopping{
    border-bottom: 2px solid black;
    letter-spacing: 1px;
    text-align: center;
    width: 500px;
    float: left;
    font-size: 100px;
    font-weight: lighter;
    padding-top: 50px;
    text-transform: uppercase;
}
.btn-shopping{
    width: 100px;
    float: left;

}
.imagem1{
    float: right;
    width: 900px;
}
.txt-about{
    font-size: 40px;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align: left;
    padding-top: 100px;
    width: 600px;
    float: right;
}
.imagem2{
    width: 800px;
}
.txt-bag{
    border-bottom: 2px solid black;
    text-align: center;
    text-transform: uppercase;
    padding-top: 70px;
    font-size: 100px;
    font-weight: lighter;
    letter-spacing: 1px;
}
.produto{
    border-radius: 2px;
    margin-left: 30px;
    border: 1px solid black;
    width: 280px;
    height: 500px;
    margin-top: 50px;
    background-color: #584f84;
}
section.destaques img{
    cursor: pointer;
    border: none;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 200px;
    background-color:#3b3558;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
}
section.destaques h1{
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    font-weight: lighter;
    text-align: center;
}
section.destaques h2{
    margin-top: 20px;
    font-size: 40px;
    text-transform: uppercase;
    color: yellow;
    font-weight: bolder;
    text-align: center;
}
.btn-carro{
    background-color:#3b3558;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
}
.btn-carro a{
    color: #c8c1e0;
}
.btn-carro a:hover{
    color: white;
}
section.maing-bg span{
    position: absolute;
    float: left;
}
@media screen and (max-width: 768px){
    nav.menu li{
        display: none;
    }
    .imagem1{
        float: none;
        width: 100%;
    }
    .imagem2{
        float: none;
        width: 100%;
    }
    .shopping{
        float: none;
        width: 100%;
    }
    .txt-about{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 1024px){
    nav.menu li{
        display: none;
    }
    .imagem1{
        float: none;
        width: 100%;
    }
    .imagem2{
        float: none;
        width: 100%;
    }
    .shopping{
        float: none;
        width: 100%;
    }
    .txt-about{
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 1550px){
    nav.menu li{
        display: none;
    }
    .imagem1{
        float: none;
        width: 100%;
    }
    .imagem2{
        float: none;
        width: 100%;
    }
    .shopping{
        float: none;
        width: 100%;
    }
    .txt-about{
        text-align: center;
        float: none;
        width: 100%;
    }
}